.flex_container {
    display: flex;
    flex-wrap: wrap;
}

.description_price {
    justify-content: space-around;
}

.description {
    align-items: flex-start;
    gap: 2rem;
}

.description > img {
    width: 10rem;
}

.desc_width {
    width: 40rem;
}

.text_justify {
    text-align: justify;
}

.table_margin {
    margin-top: 1.25rem;
}